<!DOCTYPE html>
<html>
<head>
    <title>{{ title or "Lance Santerre" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <h1>Lance Santerre</h1>
    <div>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('projects') }}">Projects</a>
        <a href="{{ url_for('education') }}">Education</a>
        <a href="{{ url_for('resume') }}">Resume</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </div>
</nav>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>