{% extends "base.html" %}

{% block content %}

<div class="page-card">
    <h1>Education</h1>

    <div class="resume-item">
        <h3>University of San Francisco</h3>
        <p>M.S. in Data Science — Concentration in Data Engineering</p>
        <p>July 2023 - June 2025</p>
        <p>Student-athlete: Baseball, Starting Pitcher</p>
        <a href="https://www.usfca.edu/arts-sciences/programs/graduate/data-science-artificial-intelligence" target="_blank">Visit School</a>
    </div>

    <div class="resume-item">
        <h3>University of San Francisco</h3>
        <p>B.S. in Mathematics</p>
        <p>Aug 2021 - May 2023</p>
        <p>Student-athlete: Baseball, Relief Pitcher</p>
        <a href="https://www.usfca.edu/arts-sciences/programs/undergraduate/mathematics" target="_blank">Visit School</a>
    </div>
    <div class="resume-item">
        <h3>San Joaquin Delta College</h3>
        <p>A.D. in Mathematics and Sciences </p>
        <p>Aug 2019 - May 2021</p>
        <p>Student-athlete: Baseball, Relief Pitcher</p>
        <a href="https://www.deltacollege.edu/" target="_blank">Visit School</a>
    </div>
</div>

{% endblock %}