{% extends "base.html" %}

{% block content %}

<div class="projects-page">
    <h1>Featured Projects</h1>

    <div class="projects-grid">
        {% for project in projects %}
            <div class="project-card">
                <div>
                    <h4>{{ project.title }}</h4>
                    <p>{{ project.summary }}</p>
                </div>

                <a class="btn" href="{{ url_for('project_detail', project_id=project.id) }}">
                    View Project
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}